@import "tailwindcss";

:root {
  height: 100%;
  font-family: Courgette;
  color: /*#6e786e*/ teal;

  --secondary-font: Inter;
}
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 18px;
}
@theme {
  /*directive*/
  --color-frogi: #987382;
  --font-secondary: Inter;
}

@layer base {
  button {
    @apply bg-orange-300 text-orange-800 border-sky-400;
  }
  image {
    border: solid;
  }
}

@utility category-card {
  @apply relative flex items-center m-5 rounded-sm p-2 bg-white shadow-teal-200 shadow-md;
}
@utility category-card_big-screen {
  @apply flex-col w-[70%]  mx-auto  h-27;
}
@utility category-card_small-screen {
  @apply flex-row justify-between h-[13vh] mt-0;
}
@utility category-meals-card {
  @apply text-center m-5  p-2   mx-auto;
}

/* @utility {
  xxxx {
    @apply bg-amber-600;
  }
  category-card {
    @apply relative flex flex-col w-[70%] bg-amber-400 items-center mx-auto h-27 rounded-sm;
  }
} */
